<!--The content below is only a placeholder and can be replaced.-->

<div class="map">
  <h2>Demo map</h2>
  <div class="city-list">
    <h3>Cities from DB</h3>
  </div>
  <div class="filters">
    <p-dropdown class="filter" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" filter="true" [showClear]="true"></p-dropdown>
    <p-spinner class="filter" [(ngModel)]="year" [min]="2012" [max]="2018"></p-spinner>
    <p-triStateCheckbox class="filter" [(ngModel)]="hasPedestrian" label="Accident with pedestrian"></p-triStateCheckbox>
    <p-button class="filter" label="Search accidents" (onClick)="getAccidents()"></p-button>
  </div>
  <app-map-component></app-map-component>
</div>

